@font-face {
  font-family: arialmt;
  src: url(Fonts/ARI.ttf);
}

@font-face {
  font-family: Designosaur;
  src: url(Fonts/Designosaur-Regular.ttf);
}



.page_container {
	/*background-color: #c7c7c7;*/
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: #e0e0e0;
	position: absolute;
	min-width: 400px;
	position: absolute;
}

.page_content{
	margin: 10px auto;
	width: 70%;
	height: 100%;
	background-color: #fcfcfc;
	display: block;
	min-width: 400px;
}

.header{
	width: 100%;
	height: auto;
}

#head_content{
	width: 100%;
	display: inline-block;
	background-color: white;
	padding: 20px 20px 20px 20px;
}

#head_line {
	margin: auto;
	line-height: 30px;
}

#head_line>p{
	display: inline-block;
	vertical-align: middle;
	margin: auto;
}
#logo {
	font-family: Designosaur;
	font-size: 25px;
	color: #cd2027;
	float: left;
}


#logo:before {
    content: "";
    background: url("./Images/icon.png") no-repeat;
    width: 30px;
    height: 30px;
    float: left;
}

#slogan {
	float: left;
	display: inline;
	margin-left: 25px!important;
	font-size: 12px;
	font-family: arialmt;
	color: #bebebe;
}

#contact {
	float: right;
	font-family: Designosaur;
	font-size: 16px;
	color: #cd2027;
	text-align: right;
	
}

.intro {
	margin-top: 7px;
	padding: 40px;
	width: 100%;
	background-color: gray;
	display: inline-block;
}

.intro_text {
	float: left;
	background-color: #fcfcfc;
	width: 50%;
	min-width: 310px;
	margin: 0 auto;
}


.intro_text>h1{
	font-family: Designosaur;
	font-size: 32px;
	padding-right: 20px;
}

.intro_text>p{
	font-size: 12px;
	font-family: arialmt;
	padding-right: 20px;
	margin-bottom: 30px;
}

.carousel_container {
	float: left;
	margin: 0 auto;
	background-color: green;
	width: 50%;
	min-width: 310px;
}

#intro_button1 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	text-decoration: none;
}

#intro_button2 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	text-decoration: none;
}

#or {
	font-family: designosaur;
	font-size: 16px;
	bottom: -20px;
	position: relative;
}

.button {
	border-radius: 25px;
	display: inline-block;
	padding: 0px 28px 0px 28px;;
	line-height:39px;
	font-size: 18px;
	font-family: designosaur;
	text-align: center;
	color: #ca4500;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	border: 5px solid #eff3f5;
}

.button_orange {
	background-color: #ff6000;
	background-image: linear-gradient(to top, rgba(240, 76, 0, 1) 0%, rgba(230, 184, 0, 0.6) 100%);
}
.button_grey {
	background-color: #e0e0e0;
	background-image: linear-gradient(to top, rgba(224, 224, 224, 1) 0%, rgba(255, 255, 255, 0.6) 100%);
}

.container {
	display: inline-block;
	border-top: 1px solid #bebebe;
}

.row {
	float: left;
	display: flex;
	flex-wrap: wrap;
	background-color: #fcfcfc;
	padding: 40px;
	display: inline-block;
}

.row .col{
	/*min-width: 310px;
	float: left;
	width: 33%;*/
	font-family: arialmt;
}

.col-md>img {
	display: inline-block;
	margin-right: 20px;
	margin-top: 5px;
	opacity: 0.2;
}
.content_col{
	width: 70%;
	display: inline-block;
	vertical-align: top;
}

.content_title {
	padding-bottom: 20px! important;
	margin: 0;
	font-size: 16px;
	font-family: Designosaur!important;
}

.pa{
	font-size: 12px;
	color: #8c8c8c;
}

.headline {
	font-family: designosaur;
	font-size: 16px;
	width: 100%;
	margin-left: 15px;
	padding-bottom: 10px;
}

.col1{
	min-width: 310px;
	float: left;
	width: 60%;
	font-family: arialmt;
	
}

.col2{
	min-width: 310px;
	float: left;
	width: 40%;
	font-family: arialmt;
}

.list {
	padding-left: 40px;
}

li {
	border-bottom: 2px solid rgba(215, 215, 215, 0.3);
	font-family: designosaur;
	font-size: 12px;
	color: #dd8c5c;
}

#last_li{
	border-bottom: none!important;
}

li:before {
	content: url("./Images/bullet.png");
	bottom: -3px;
	position: relative;
	margin-right: 5px;
}

.col_img{
	width: 100%;
}

.screenshot{
	content: url("./Images/ApertureScience.jpg");
	background-size: cover;
	padding: 0px!important;
	outline: 5px solid #eff3f5;
	display: inline-block;
	width:100%;
}

.quote {
	font-family: arialmt;
	font-size: 18px;
	color: #8c8c8c;
	border: 1px solid #8c8c8c;
	padding: 40px;
	margin: 0px 15px 0px 15px;
	text-align: center;
}

#mike_tyson{
	font-family: designosaur;
	bottom: -10px;
	color: #8c8c8c;
	left: 25px;
	width: 200px;
	position: relative;
	display: inline-block;
}

#Microsoft{
	opacity: 0.5;
}

.triangle {
	padding-left: 30px;
	width: 20px;
	height: 20px;
	border-style: dashed;
	border-width: 0 20px 20px 0;
	border-color: transparent #8c8c8c transparent transparent;
	display: inline-block;
	position: relative;
}

.upper {
	width: 18px;
	height: 18px;
	left: -1px;
	bottom: 2px;
	border-style: dashed;
	border-width: 0 20px 20px 0;
	border-color: transparent white transparent transparent;
	display: inline-block;
	position: relative;
}

.end_button {
	width: 100%;
	margin: 0 auto;
	display: block;
}

.end_button_inner {
	width: 50%;
	margin: 0 auto;
	display: block;
}

.end_button_inner>span {
	bottom: 0px!important;
}

.footer {
	background: black;
	height: 100px;
}
#foot {
	background: black;
	padding: 5px!important;
}

.foot_col {
	color: #cecece;
	font-family: designosaur;
	font-size: 16px;
}

.foot_space{
	padding-right: 20px;
}

.logo_black {
	font-family: Designosaur;
	font-size: 25px!important;
	color: #8c8c8c;
	float: left;
}


.logo_black:before {
    content: "";
    background: url("./Images/logo_black.png") no-repeat;
    width: 30px;
    height: 30px;
    float: left;
	margin-right: 5px;
}

.endline {
	padding: 15px;
	width: 105%;
	background-color: #222222;
	position: relative;
	color: #8c8c8c;
	left: 0px;
	bottom: -4px;
	right: -2px;
}